<form>
  <label><input type="checkbox", name="preference[allow_create_artists"], value ="true",id='preference_allow_create_artists_true' checked/>
  preference allow create artists true</label><br>
   <label><input type="checkbox", name="preference[allow_create_songs"], value ="true",id='preference_allow_create_songs_true' checked/>
   preference_allow_create_songs_true</label><br>
   <input, type-"submit", value="submit"
</form>