<form>
  <label><input type="checkbox", name="preference[allow_create_artists"], value ="true",id='preference_allow_create_artists_true' checked/>
  preference_artist_sort_order_desc</label><br>
   <label><input type="checkbox", name="preference[allow_create_songs"], value ="true",id='preference_allow_create_songs_true' checked/>
   preference_song_sort_order_desc</label><br>
   <input, type-"submit", value="submit">
   
  <label><input type="checkbox", name="preference[allow_create_artists"], value ="true",id='preference_allow_create_artists_true' checked/>
  preference_allow_create_artists_true</label><br>
   <label><input type="checkbox", name="preference[allow_create_songs"], value ="true",id='preference_allow_create_songs_true' checked/>
   preference_allow_create_songs_true</label><br>
   <input, type-"submit", value="submit"
</form>